[2018-10-28 22:34] lorelei1 opened #47 "Getting an error... can't RSVP"
Tried to sign up for an event and had to create a username and all that with metamask... then the login works but i can't rsvp for this event or another event.

<img width="1158" alt="screen shot 2018-10-28 at 11 27 54 pm" src="https://user-images.githubusercontent.com/38163206/47622792-8bb6c600-db09-11e8-8e69-5ac20bdaeb04.png">

I'm on a 2015 macbook pro, pretty much up to date, using chrome.

Th

[2018-10-29 07:18] hiddentao commented on #47
Hey, thanks for the feedback. A few other users have had this and we figured out eventually it's due to Metamask issues. It might be worth resetting the account within Metamask (_settings_ -> _reset account_). I know one other user uninstalled and then reinstalled Metamask to get things working. You could also try it in a different desktop browser.

[2018-11-30 19:07] jefflau opened #69 "Add end to end tests"
- [x] Create a party as admin, rsvp and then finalise
- [x] Existing party of 2 as admin, mark 1 attended, finalise
- [ ] Existing party of 2 as admin, mark both attended, finalise
- [ ] Existing party of 2 as user, RSVP
- [ ] Existing party of 2 as non-user, sign up, RSVP

[2018-12-02 03:35] jefflau opened #70 "Split admin page into separate page"
Current page is confusing for admin users and also does not have full functionality. Best approach would be to add the table view as the main admin view and then have all admin controls including clear as well as mark attended

[2018-12-13 14:17] beyondlogical opened #72 "Changing accounts during event signup + new user allows attending without user account"
Hi Kickback team! I was trying out your app for our DappDevs event and here's what happened.

1. Pull up page of event, click to attend
2. Click to sign transaction (acct#1 0xF454...2Bd3)
3. Fill out new user info
4. Click to register for event (acct#1)
5. Insufficient funds! (Oops, wrong account!)
6. Switch accounts (acct#2 0x4ea...458C)
7. Sign transaction (acct#2) - now attending event... *with

[2019-01-31 05:41] jefflau commented on #72
Thanks for logging this! I think the easiest way to deal with this is to listen to the accounts from metamask/dapp browser and if it changes we hard refresh the page

[2019-01-31 05:43] jefflau opened #80 "Style new admin page"
Admin page is currently largely unstyled.

- [x] Needs styling for the inputs
- [x] Add admin interface
- [x] reduced width for the party form so it doesn't span the entire page
- [x] Needs a button on the single event page to link to the admin page
- [x] Smart contract state inputs/buttons need some explanation
- [x] Smart contract state input/buttons need to be positioned correctly

[2019-01-31 05:45] jefflau opened #81 "Style Create event page"
Create event page uses the PartyForm component, which is shared between the Create and Admin page  and should have its styles enhanced if any styles from the Admin page need adjusting

[2019-01-31 05:46] jefflau opened #82 "Reduce the size of the sign in modal"

[2019-03-16 18:14] #82 closed

[2019-03-16 18:14] #80 closed

[2019-03-16 18:14] #70 closed

[2019-03-25 05:01] #81 closed

[2019-04-04 10:46] makoto opened #125 "Cannot load events"
This only happens to this scenario.

- Connect to the network you are accessing to on Metamask
- Signout
- Refresh page.

This will not happen if Metamask was connecting to the wrong network before signout.

[2019-07-09 16:27] moodysalem opened #148 "Introduce iframe-provider-polyfill to support Ethvault and other iframe providers"
Import this in the app to support ethvault
http://github.com/ethvault/iframe-provider-polyfill

[2019-07-23 10:30] pimato opened #152 "doesn´t work with gnosis safe"
<img width="943" alt="Screenshot 2019-07-23 at 12 30 04" src="https://user-images.githubusercontent.com/5337809/61705193-9f642580-ad45-11e9-9c33-ca84fcb5719f.png">

[2019-08-15 16:54] lorelei1 opened #157 "Viewing events & signing in blocked by error"
When I go to a direct event link, or try to view events from the kickback home page, i get this red banner:
"Error: Network error: Response not successful: Received status code 400"
Click sign in and after ~3 seconds of showing the sign in form, it reverts to the same banner.
<img width="953" alt="Screen Shot 2019-08-15 at 9 54 47 AM" src="https://user-images.githubusercontent.com/38163206/6311154

[2019-08-16 13:30] skylarweaver commented on #157
Thanks @lorelei1! What's the browser you are using? And with Metamask?

@makoto Not sure if this is something you've seen before.

[2019-09-01 13:22] jefflau opened #161 "Mobile design breaks with long links"
![580CDE0A-4E3E-4EE7-851E-85F953CC4E06](https://user-images.githubusercontent.com/1221141/64077012-78165600-ccfe-11e9-9eda-69b8d4dd937e.png)

Need to wrap the link, or hide overflow so it doesn’t break the page

[2019-09-03 12:01] Leocn opened #162 "Some questions about running dapp locally."
I cant reach thoes pages any more.

    https://dev.kickback.events

    https://github.com/wearekickback/docs/blob/master/RunningEverythingLocally.md

[2019-09-03 12:02] Leocn commented on #162
@makoto  Im Leon emailed you before.

[2019-09-26 09:03] jefflau opened #180 "Mobile menu overlaps admin panel"
<img width="602" alt="Screenshot 2019-09-26 at 17 04 11" src="https://user-images.githubusercontent.com/1221141/65674755-b0038580-e07f-11e9-95a9-381dec2f98d2.png">

[2019-09-27 08:47] makoto opened #185 "Add to calendar"
# Add "Add to calendar" feature at event page.

- Add "Add to calendar" below the start time.
- Pop up a modal to import into calendar (Google calendar is must, and other calendars are nice to have).
- Calendar has to recognize timezone difference.

## Design.

Links

<img width="451" alt="Screenshot 2019-09-27 at 09 45 06" src="https://user-images.githubusercontent.com/2630/65755696-87c16880-e10b

[2019-09-27 15:53] chrishobcroft opened #186 "Feature Request: I want to be able to add a +1 when I RSVP"
### Feature Request

As someone RSVPing to an event, I would like to be able to add a +1, which indicates that I will bring another person with me to the event.

### Current Behaviour

In order to sign up more than one person, I would need to create another account on Kickback, and also to create another Ethereum account, transfer some ETH / DAI to that account (which costs gas), and then to submi

[2019-09-27 16:25] chrishobcroft opened #187 "Feature Request: I want to be able to use Kickback without giving my real name or email address"
### Current Situation

Currently, in order to sign up for Kickback events, a user must create a username, provide their real name, and provide an email address.

### Proposal

I want to be able to RSVP solely based on my ETH address, without needing to provide my personal information.

### Considerations

I understand that this adds complexity in terms of verifying people when they arrive, if they

[2019-10-01 13:19] makoto commented on #185
# Notes on how to locally setting up.

To point the frontend app to our test server (Koran), please add the following to src/config/env.json
[code]

Then `yarn start` should work

Once you make the pull request, each PR will run Travis test and creates test page under https://pr***-app-wearekickback.surge.sh . Make sure that the test passes and the url is working as expected (ie, no errors)

[2019-10-04 11:10] eswarasai commented on #185
@makoto - Just a quick update. Will pull up a WIP PR in a day or 2. I'm leveraging the `react-add-to-calendar` package you've mentioned above. Thanks for the pointer 👍

[2019-10-05 06:55] noblocknoparty-devs commented on #185
@eswarasai that's promising! Looking forward to it. MakerDAO event (Rich from MakerDAO added extra usd 100 on the pot) happens on Monday so if we can merge by that, that would be fantastic

[2019-10-05 06:56] makoto commented on #185
btw, the comment above is from me

[2019-10-06 07:15] eswarasai commented on #185
@makoto - Sorry about the delay here. Looks like the above package doesn't support the popup modal behaviour like desired. So I'm trying to integrate other available package `react-add-to-calendar-hoc` which supports Modal behaviour. Will surely try to pull up a WIP PR today EOD.

[2019-10-10 04:44] jefflau opened #194 "Add a google map link based on address"
Use the address to link to googlemaps or have a maps widget.

[2019-11-15 07:06] jefflau commented on #187
Do you have any suggestions on how to verify you are the correct person without your real name?

[2019-11-15 10:00] #185 closed

[2019-11-29 18:31] makoto opened #201 "Auto check-in"
### Prize Bounty

1st : $500
2nd: $200
3nd: $100

### Challenge Description

Currently [each admin has to manually check in each attendee](https://medium.com/wearekickback/kickback-event-organiser-guide-c2146c12defb) which have multiple drawbacks.

- 1. Labor intensive making Kickback unsuitable for large event where check-in is not strict.
- 2. Prone to check-in error by organisers.
- 3. The deci

[2019-11-29 18:55] makoto opened #202 "Visualise/gamify multiple event participations"
### Prize Bounty

Amount TBD

### Challenge Description

During Devcon5, [we hosted dozens of events and 100s of people attended various events](https://medium.com/wearekickback/kickback-at-devcon-5-part-1-by-the-number-aka-does-meetup-com-justify-for-fee-df81e5e92bda) but there aren’t good ways to visualise/gamify to encourage participants to attend more events. Also [our user activity page](http

[2019-11-29 19:43] makoto opened #203 "Privacy preserving event hosting experience"
### Prize Bounty

Amount TBD

### Challenge Description

At Kickback, we currently store some privacy information (user name and email address) so that event organisers can use information to notify participants and well as to identify people at check-in

Even though these are necessary features to make event dapp usable, the [leakage of this information would cause inconvenience and distress to t

[2019-11-29 19:58] makoto opened #204 "[Call for UX ideas] Pitch perfect on-boarding experience"
### Prize Bounty

50 DAI

### Challenge Description

Kickback is one of the few Dapps which people are "forced to use" to attend the event they want to go (as contrary to Defi or Games which no one forces you to). This sometimes cause confusion and stress to participants who are completely new to cryptos and blockchains.

In this challenge, we would like you to diagnose our current UX, articulate

[2019-11-29 20:26] makoto opened #205 "[Call for Marketing ideas] Make EthDenver side events fun and engaging using Kickback and OrochiDAO"
### Prize Bounty

50 DAI (We are calling more top ups from various other orgs such as MarketingDAO :-P )

### Challenge Description

When it comes to organising events, event organisers often struggle to find sponsors to cover venues, drinks, catering, and so on.

To tackle the problem, I have been experimenting with lots of small ideas from event donation, NFT token, to forming event focused DAO,

[2019-12-01 21:21] makoto opened #206 "Donation feature [Frontend only]"
### Prize Bounty

200 DAI

### Challenge Description

We are considering to [add donation feature.](https://medium.com/wearekickback/call-for-feedback-kickback-integration-of-native-donation-kind-b74586af4e36) .

Please implement the following UI

### Step 1

- Add "Add a tip to the organiser" button.

<img width="769" alt="Screenshot 2019-12-01 at 21 05 32" src="https://user-images.githubusercont

[2019-12-02 06:23] RishabhDahale commented on #206
Hey @makoto, I'm would like to work on this issue

[2019-12-02 15:42] julien51 opened #209 "A Kickback "license""
I recently spoke with @makoto and he we discussed the idea of a Kickback License.
The main goal is for Kickback to fund itself using crypto by charging event organizers when they want to deploy their own kickback contract.

# Current flow
As [detailed on this page](https://medium.com/wearekickback/kickback-event-organiser-guide-c2146c12defb), to deploy Kickback contracts, event organizers go to ht

[2019-12-02 21:14] julien51 commented on #209
@makoto indicates that the configuration for unlock should be configurable at `src/config/env.json` (this should be used to set `​unlockProtocolConfig​` )

[2019-12-03 04:46] nfurfaro commented on #209
@julien51 I deployed some locks on Kovan as requested. I can fine-tune tomorrow if needed, but here are the addresses:
[code]
I'm tired and going to sleep. I didn't manage to set unlimited keys, will figure that out tomorrow.  (MyCrypto won't ket me use `-1`, and using `2**256-1` results in the number above for some reason.
)Also, keys are still transferrable, but we can change that tomorrow quick

[2019-12-03 19:10] makoto opened #210 "Add event url specific meta tag"
### Prize Bounty

200 DAI

### Challenge Description
One of the most requested feature is to be able to add event specific social card.

We already have a generic one [here](https://github.com/wearekickback/app/commit/73303ee1c7ba9d71e5c1896f84820090fd374754), but we want to show event specific card.

You can get the basic information through our graphql https://live.api.kickback.events/graphql

[

[2019-12-04 07:03] makoto commented on #206
Has anyone started the work? If you have any questions please either ask her or via discord channel. https://discord.gg/B5ZZUZ

[2019-12-04 08:15] makoto commented on #204
If you have any questions please either ask her or via discord channel. https://discord.gg/B5ZZUZ

[2019-12-04 08:15] makoto commented on #205
If you have any questions please either ask her or via discord channel. https://discord.gg/B5ZZUZ

[2019-12-04 08:15] makoto commented on #201
If you have any questions please either ask here or via discord channel. https://discord.gg/B5ZZUZ

[2019-12-04 08:20] julien51 commented on #209
Regarding the user flow, the best approach is to take an inspiration from what is done on this dashbaord provided by Scout: https://scout.cool/unlockprotocol/mainnet

[2019-12-06 12:04] makoto commented on #209
Hello. here is a few updates from Kickback team.

- We expect that applicant has intermediate to advanced knowledge of React and [React Apollo](https://github.com/apollographql/react-apollo) so we spent less time coaching on best coding practices
- We added [contribution style guide](https://github.com/wearekickback/app#dev-guide). We take code quality very seriously so please make sure you follow

[2019-12-06 16:48] edsonayllon commented on #209
@makoto I've worked extensively with React, and have experience with GraphQL and React Apollo.

Do you have a link to the Discord incase I'm approved? I'm not sure if you mean a Kickback discord or the Gitcoin discord, but from the Gitcoin Discord, I see your username is also Makoto. I can message you there if that's your preference.

[2019-12-06 16:49] makoto opened #214 "Cannnot install authereum package"
## Description.

Currently Travis does not seem to allow external party to run CI test. So I created a branch out of the fork but it shows the following error

[code]

When I tried to run thee task which CI is running, I am failing to install authereum.

[code]

[2019-12-06 17:01] makoto opened #215 "We do need test environment"
Currently authereum.kickback.events point to mainnet so we cannot test freely. Can we at least have an endpoint which connects to kovan?

[2019-12-06 17:11] #215 closed

[2019-12-06 17:13] julien51 commented on #209
@edsonayllon you've been approved! Please let us know if you need any help...  you can also join the Unlock telegram group: https://t.me/unlockprotocol

[2019-12-06 22:24] makoto commented on #209
https://discord.gg/5YRnfyW is the Kickback channel within gitcoin discord

[2019-12-07 19:27] NukeManDan opened #217 "Can't install with yarn"
Hope this is a simple error to fix:
![image](https://user-images.githubusercontent.com/35669742/70379691-e285f600-18ec-11ea-8462-c94c4cd3cebf.png)

[2019-12-09 06:41] jefflau opened #218 "doesn't work on Safari"

[2019-12-09 06:48] jefflau opened #219 "Create account page gives graphql error"
Reproduction:

1) Mac OS 10.14 Brave/Metamask installed (but not used)
2) Click login and select authereum
3) Select account (mine seems to automatically know my authereum account now)
4) Create page for account pop up
5) GraphQL login error and account not created

<img width="1256" alt="Screenshot 2019-12-09 at 14 48 24" src="https://user-images.githubusercontent.com/1221141/70413785-3599ad80-1a

[2019-12-09 17:44] shanefontaine commented on #214
Closed with 959a5b7c892bd232782f61012c9e7988d33fd1ca.

[2019-12-09 19:12] julien51 commented on #209
@edsonayllon Any progress on your end?

[2019-12-09 20:06] makoto commented on #217
The error messagee says `fatal: unable to connect to github.com` so more likely a network issue.

[2019-12-09 20:06] #217 closed

[2019-12-09 21:18] edsonayllon commented on #209
Just to clarify, will paid memberships be replacing, going along side of, or linked within https://kickback.events/create?

[2019-12-10 01:18] shanefontaine commented on #218
Closed with d578e2fe1a888004726143aa305061c4c00d78c4.

Had to push a small update on our end as well.

[2019-12-10 02:01] shanefontaine commented on #219
The issue here seems to be that the address being used has already been used to create an account. Does this behavior look familiar to you and/or do you understand why this page would appear for an account that already exists in the DB?

[2019-12-10 20:03] makoto commented on #206
Hello all. This issue is still open for submission. Please refer to the comment of https://github.com/wearekickback/app/pull/211 if you are going to submit one.

[2019-12-11 10:01] dvdptr commented on #204
@makoto is the bounty still open? I'm interested in participating. can I contribute in here or is the bounty linked to a hackathon? thanks

[2019-12-11 19:55] edsonayllon commented on #209
PR #220 should be ready.

[2019-12-12 00:15] NukeManDan commented on #205
## Lot's of options I would love to explore
Key things we want to drive @ [#BUIDLWeek](https://www.ethdenver.com/buidlweek/):
- Workshops on useful tools to succeed in your project @ ETHDenver
- Presentations to get people up to speed on the latest in the blockchain ecosystem developments
- Socials to network with people from all over the world here

***

### :point_right:  [DAOFest](https://www.d

[2019-12-13 01:15] NukeManDan commented on #201
# Rethink:
After further thinking about this, I think the real value will be in starting with a way to scan a **time cycling code** that we can use to have attendees scan.

## Work on my end will include:

### Event Check-in App

- An app to generate a QR code to scan at the event itself. Thus all organizers need to do is open a webapp/install one on a device to display this code at the event - no

[2019-12-13 15:02] makoto commented on #204
@dvdptr this is idea competitions where there are multiple submissions and one winner so feel free to submit yours

[2019-12-13 17:15] NukeManDan opened #222 "create event page (kovan) does not load"
https://kovan.kickback.events/create

spinner continues forever, no console errors reported.
- Manjaro Linux
- Mozilla Firefox 71.0
- privacy & security features turned off

All other pages seem to work, including account creation

[2019-12-13 17:25] NukeManDan commented on #222
https://kickback.events/create

this does load, with same settings

BUT: URL was specified manually, no "new event" button exists on the main app I can see.

[2019-12-13 20:24] makoto commented on #201
Hi @NukeManDan . Thank you for the suggestions. For the scope of this hackathon you can create a simple api server which offers TOTP service and update the checked in info in your database. Then from the admin page, admin can pull the check in info and call `MARK_USER_ATTENDED`.

[2019-12-13 20:28] makoto commented on #222
Sorry, fixed now.
For any problem like this, feel free to ping me via discord https://discord.gg/C2HuhU

[2019-12-13 20:28] #222 closed

[2019-12-15 00:25] michaelsdl opened #223 "Organize footer information in mobile version"
Checking the mobile version, I noticed that some footer information is too compressed and misaligned, so you'll need to check the alignment of the information next to the social buttons.

[2019-12-15 14:06] makoto commented on #223
hello.
would you mind putting screenshot? Footer looks ok in my mobile phone.

[2019-12-15 19:35] #223 closed

[2019-12-15 21:53] NukeManDan opened #226 "Create event page nvaigation & new events not shown"
First issue: I cannot find a way to create an event in the GUI for the app  - I must navigate manually to `/create`

Second, once I do get an event created:
![image](https://user-images.githubusercontent.com/35669742/70869821-e26ba300-1f49-11ea-8012-c0860f27e932.png)
I then don't see it.

I generated a transaction ([on kovan](https://kovan.etherscan.io/tx/0x729a53402c1cb0f8e92d77f3b5ebf6a336c2d474

[2019-12-18 22:36] emmaodia commented on #206
Hello @makoto The Kovan Faucet is not sending any eth. Can you kindly send some to a wallet address?
Thank you.

[2019-12-19 21:24] NukeManDan commented on #205
Happy to help make the ideations a reality if there is interest!

[2019-12-20 12:51] makoto commented on #206
We will be closing this issue for now. We may reopen in the next hackathon.

[2019-12-20 12:51] #206 closed

[2020-01-02 19:34] edsonayllon commented on #209
@julien51 @jefflau @makoto  Received a notification from Gitcoin warning expiration in 2 days. Are there any issues? PR has been ready for 2 weeks now

[2020-01-06 03:03] makoto opened #234 "Integrate with BlockNative onboard.js"
### Prize Bounty

The first submission which satisfies all the submission requirement wins.

400 DAI

### Challenge Description

Currently, we use the old version of  BlockNative assist.js (bnc-assist) to onboard users who have accessed with no wallet to show the warning message. At that time, it did not support mobile wallets hence we created [a wrapper file](https://github.com/wearekickback/app/

[2020-01-06 03:17] makoto commented on #234
Will close for now

[2020-01-06 04:30] makoto opened #235 "[Marketing] Write an Kickback explainer blog post without the word "decentralisation""
### Prize Bounty

- 100 DAI (multiple entries and one winner takes all)

### Challenge Description

Currently Kickback is often used for crypto related events and hackathons. Some event organisers prefer to use us purely because Kickback is a blockchain based application.

However, we want to start appealing to meetup organisers outside of crypto/blockchain ecosystem for mass adoption.

[The last

[2020-01-06 04:48] makoto opened #236 "Support any ERC20 tokens"
### Prize Bounty

200 DAI

### Challenge Description

Currently Kickback smart contract supports any ERC20 yet we only support DAI at frontend because we hardcode lots of code.

Please refactor our code as well as extending admin page so that users can add any ERC20 tokens.

### Submission Requirements

- On our admin page, user can either chose DAI, ETH, or any ERC 20 tokens where users can copy

[2020-01-06 04:51] makoto commented on #226
Our new event page is not public hence no link yet.
For others, it should be working by now,

[2020-01-06 04:51] #226 closed

[2020-01-06 05:09] makoto opened #237 "[Education] Write an medium article of how to interact with Dapp using Torndado using Kickback as an example"
### Prize Bounty

- 50 DAI

### Challenge Description

Even though Kickback does not show ETH address of the registered users, it is relatively easy to tie the username/twitter handle to the eth address as all the transaction data is in the public chain. This is very worrying for security concerned people. To solve the problem, some people actually uses Torndao to hide the information of where the

[2020-01-08 10:33] makoto opened #238 "Add generic QR code reader"
### Prize Bounty

100 DAI

### Category

Frontend (react/js/graphql)

### Challenge Description

Currently, there is an QR code reader to scan user's Ethereum address on our admin panel.

<img width="505" alt="Screenshot 2020-01-08 at 10 22 22" src="https://user-images.githubusercontent.com/2630/71970706-18c2d800-3201-11ea-93a5-e2d043161d9a.png">

Pressing "Scan QR code" will pop up QR code reader

[2020-01-09 01:02] TomAFrench commented on #236
I've got a working version of this now. Will test and submit tomorrow.

[2020-01-09 23:21] molecula451 commented on #236
I am about to submit a solution for this.

[2020-01-10 00:16] emmaodia commented on #235
Work done: https://medium.com/@emmaodia/not-convinced-yet-fafd8016814e

[2020-01-10 04:42] crisgarner commented on #235
I've submitted it as a draft first if you want to make some comments https://medium.com/@crisgarner/how-to-improve-attendance-in-your-events-2ba603ad954

[2020-01-10 17:25] TomAFrench opened #243 "Create page doesn't handle a rejected transaction signature gracefully"
Currently if I try to make an event and click the "create event" button then the button moves to the "sending transaction" state and I get a metamask popup. If I then decide that I don't want to sign that transaction and reject it then the "create event" button doesn't return to its original state, preventing me from clicking it again.

This requires a refresh to clear which in turn clears out the

[2020-01-11 01:52] EmmyMay commented on #237
How do you contribute the article to Kickback please

[2020-01-11 13:00] makoto commented on #237
You can just link the medium draft to comment here. Many submissions allowed and one winner takes all the prize.

[2020-01-11 15:54] EmmyMay commented on #237
https://medium.com/@lekeemmy/how-to-interact-with-dapps-using-tornado-38ecaf073ecb

[2020-01-12 20:53] molecula451 commented on #237
You've got it @makoto https://medium.com/@web3samuraidev/private-transactions-on-kickback-events-using-tornado-cash-1705a1d31167

[2020-01-14 22:21] makoto commented on #236
Hi, @EthereumFoundationOfficial , please give the bounty to @TomAFrench . He did amazing job and we are happy with the result.

[2020-01-14 22:21] #236 closed

[2020-01-14 22:22] makoto commented on #238
Hi, @EthereumFoundationOfficial , please give the bounty to @TomAFrench . He did amazing job and we are happy with the result.

[2020-01-14 22:22] #238 closed

[2020-01-15 07:34] makoto commented on #210
Hi @EthereumFoundationOfficial Please give the bounty to @think-in-universe  . We are very happy with the result. This was one of the most requested feature yet tricky to implement so super impressed with the creative solution by @think-in-universe . Well done!

[2020-01-15 07:34] #210 closed

[2020-01-15 08:40] think-in-universe commented on #210
@makoto thanks Makoto. happy to know it works well!

[2020-01-15 15:04] TomAFrench opened #255 "Implement comment sections on events (with 3box?)"
If we compare Kickback to its competitor Meetup, its very difficult to contact an event organiser before an event. This is useful to be able to ask questions beforehand, etc. Otherwise it can feel a little impersonal and possibly creating a barrier to entry.

One possible decentralised solution would be to use [3box](https://docs.3box.io/build/plugins/comments).

[2020-01-16 14:00] makoto commented on #255
That's a great suggestion. I was thinking about doing something similar but as an alternative to telegram and can access to only people who have RSVPed. Whenever I sign up for the event, I ended up signing up their telegram channel. If we create some sort of plugin which only allows people who did RSVP on Kickback to see the message or comment, that would be cool way to prevent spams as well.

[2020-01-18 23:13] TomAFrench commented on #255
A couple of issues with 3box are that comment section can only have one administrator address (iffy scaling to multiple admins) and to limit the comments to only people signed up for the event would require the admin to manually accept each one.

[2020-01-19 15:03] makoto commented on #255
`limit the comments to only people signed up for the event would require the admin to manually accept each one` this sounds like more of the blocker.

[2020-01-22 09:00] makoto commented on #235
@andyboyan are you still working on this? If not I will close this a bit early.

[2020-01-22 13:22] bobeu opened #264 "Submission of work"
Here is[ link](https://medium.com/@imeiwall/how-kickback-can-help-spice-up-your-event-and-prevent-event-disasters-3a8701605b29) to article on medium. Click [here](https://medium.com/@imeiwall/how-kickback-can-help-spice-up-your-event-and-prevent-event-disasters-3a8701605b29).

[2020-01-22 13:35] bobeu commented on #235
I've submitted this as an issue already in case I missed it. please see link **[here](https://medium.com/@imeiwall/how-kickback-can-help-spice-up-your-event-and-prevent-event-disasters-3a8701605b29)**

[2020-01-22 16:54] makoto commented on #235
@bobeu thank you for the submission. I will take a look

[2020-01-22 18:31] makoto commented on #264
I will close this as  I see that you submitted it through https://github.com/wearekickback/app/issues/235

[2020-01-22 18:31] #264 closed

[2020-01-23 12:27] owans commented on #235
Work submitted, view blog post - [Link](https://medium.com/@amachreeowanate/kickback-a-cure-for-no-shows-at-free-events-5373b176b96d?source=friends_link&sk=cd5953a2c40488492816b8cb34f65b01)

[2020-01-23 16:52] snaketh4x0r commented on #201
here is my submission
https://github.com/snaketh4x0r/mycheckin

[2020-01-23 18:14] TomAFrench commented on #201
I wouldn't mind having a go at a bounty for this at some point after the hackathon as it seems like an interesting issue.

It seems like POAP could be quite easily altered to work for this purpose although it would require changes to the smart contracts as well. My only concern is situations with AP isolation might cause issues with attendees being able to connect to the signer.

[2020-01-23 21:42] TomAFrench commented on #201
I have a proof of concept which I've knocked together, all that needs to be done is to point it at Kickback's backend and add some method to store the proofs (Just need to dump it in a database somewhere).

At that point you can just print out a list of addresses (along with the proofs) to give to the event admin for them to finalise with. In future the contract could be altered so that attendees

[2020-01-23 23:18] crisgarner commented on #201
Putting my submission here since it seems there is a bug on the frontend. https://github.com/crisgarner/autocheckin

[2020-01-24 09:12] makoto opened #266 "Burner Wallet Integration R&D"
# Challenge: Burner Wallet Integration R&D

## Bounty

Up to 500 DAI. Many submissions, multiple winners.

- Winner : 300 DAI
- Runner up: 200 DAI

[NOTE] If the winning submission turned out to be feasible, we may commission further work to productionize it.

## Background.

Kickback is a popular choice to manage free events. User commit Eth/DAI to attend events. If they don't their commitment ge

[2020-01-24 09:22] makoto commented on #201
@TomAFrench Can you submit what you have right now?

` all that needs to be done is to point it at Kickback's backend and add some method to store the proofs` you can build a simple dummy backend for the demo purpose (like https://github.com/hammadtq/kickback-checkin )

[2020-01-24 10:36] makoto opened #267 "Chat system with on chain access control list"
# Challenge: Chat system with on-chain access control list

## Bounty

- Winner : 5 ETH
- Runnner up : 1 ETH

## Background.

Though smart contract enable on-chain way to control the flow of money or governance, the discussion is often made in discord, xoom, hangout, and now lots of experiments in virtual space such as CryptoVoxels, Decentraland, etc. We would like a way to enforce on-chain logic

[2020-01-24 10:44] makoto commented on #255
Actually we could somehow automate it. The admin still have to accept but we can hit Kickback API to check if the request came from the one who did RSVP on Kickback,

I just wrote a spec at https://github.com/wearekickback/app/issues/267 . Any feedback welcome.

[2020-01-24 12:47] TomAFrench commented on #201
Erm, it's _really_ rough and I'm afraid I don't have time at the minute to make the necessary modifications to do the verification of proofs.

I can do a small write up of the check in process (and my plans for completion) if you like but I won't be able to give a working demo.

[2020-01-24 13:42] TomAFrench commented on #201
I've done a small write up on the check in process [here](https://github.com/TomAFrench/poap/issues/1) where you can also see the code. I'm happy to answer any questions.

[2020-01-24 13:45] TomAFrench commented on #201
Basically what needs to be done is modification of the server for the new format of the proofs and pulling information from onchain/Kickback to check the roles of the addresses it receives

[2020-01-24 13:45] TomAFrench commented on #201
That should be a working demo and then stuff past that is polish

[2020-01-24 18:58] TomAFrench opened #268 "Fix inaccurate warning on Approve button"
Copying this from #263

## Description

Currently when a user is using a web3 enabled browser but hasn't given metamask access to kickback.events the Approve button shows the below error message.

![](http://i.imgur.com/nGIOmWx.png)

A complaint about insufficient balance is obviously not ideal as the user may have the required balance, leading to confusion.

## Submission requirements

A check sh

[2020-01-25 09:54] oed commented on #267
This is super cool! I'll provide some thoughts from the 3Box side.

I think this can work with Ghost Threads, but there are also Persisted threads in 3Box. We have more information about the difference [in our documentation](https://docs.3box.io/build/web-apps/messaging/choose). I'll provide some considerations for this particular use case below.

## Using Ghost Threads
Ghost threads are great for

[2020-01-25 17:07] makoto commented on #255
I will close this issue as it is duplicate to 267

[2020-01-25 17:07] #255 closed

[2020-01-25 17:37] makoto commented on #235
Hello all.
Thank you very much for all your entries. Here are the winners.

## Winner. (100 DAI) goes to @crisgarner

The strongest point of this entry is that it is based on the experience of the author actually using the Kickback with full of screenshots of the app. More importantly, he managed to explain the benefit and guide the process of using without using any crypto jargon.
I just added yo

[2020-01-25 17:53] makoto commented on #237
Hello all. Thank you very much for all your entries.

## The winner (50 DAI) goes to @molecula451

This was the most informative entry and impressed that it has full of useful tips. However, it has lots of grammatical errors so it needs a bit of editing. Please publish to our publication (Just added you as a writer).

## The runner up (20 DAI with conditions) goes to @beebeehem

It is a well balan

[2020-01-25 18:28] TomAFrench commented on #201
@makoto I've had a bit of free time so I've thrown together an implementation of signing/verifying proofs of attendance

You can see them in:

`poap-signer.ts` and `verify_proof.ts` for the [signer](https://github.com/TomAFrench/poap/tree/dev/signer/src)

`routes.ts` and `verify_proof.ts` for the [server](https://github.com/TomAFrench/poap/tree/dev/server/src)

It needs a bunch more work (atm it d

[2020-01-25 19:19] makoto commented on #201
Hey @TomAFrench can you join our discord https://discord.gg/RD2ZN5 so that I can ask a couple of questions?

[2020-01-27 09:23] makoto commented on #201
# Results!

## 1st prize (500 DAI) goes to @crisgarner for staking POAP (Proof of Attendance) token.
He created his own smart contract (AutoCheckIn.sol) which allows attendees to stake for a certain period to prevent people from transferring to others to double spend. The ability to temporarily freeze the token transfer allows Kickback admin to check-in people in real-time.

One question remains w

[2020-01-27 12:59] TomAFrench commented on #201
Thanks @makoto!

One issue I see with @crisgarner's solution is that it just turns the check in problem into a token distribution problem. Seems like we could just read the events emitted by POAP during distribution anyway.

Just to make a record of the thoughts on discord...

**Short term:**

QR codes are the only reliable method of users receiving information locally at the venue. The issue then

[2020-01-27 13:35] TomAFrench commented on #266
I'm not sure this is necessary. If we're working on the assumption that for check in people have a web3 enabled browser on their phone then can't we just open burner wallet inside that with the metamask plugin so they retain the address they signed up with?

xDAI can then just be airdropped into a user's account on confirmation of registration (or they're given a preloaded key which only they can

[2020-01-27 20:42] andyboyan commented on #235
I can make these changes. Happy to do so. Will post here with the follow-up.

[2020-01-28 01:29] NukeManDan commented on #201
Thank you for the honor - I hope to come back to make a stand-alone TOTP check-in set of apps: react app w/ user facing & organizer facing components, and a backend w/ GraphQL . If and when I do, I will report back here! Very happy to collaborate on one as well when that time comes (maybe @TomAFrench ? :grin: )

[2020-01-28 03:19] andyboyan commented on #235
Edits made.

For review: https://medium.com/@andyboyan/be-a-meetup-rockstar-with-kickback-4e7fa573f764

Please reach out via email or twitter to let me know next steps.

[2020-01-28 08:14] makoto commented on #237
ok, so 3 days has passed and no reply from @beebeehm hence we only have one winner.

[2020-01-28 08:19] beebeehem commented on #237
Hello Makoto,

Apologies for the late reply, I have been working on editing the post as
requested and I was planning to release the update in a couple of hours,
kindly give me some time to post this.
Best regards,
Ahmed Rasheed

On Tue, Jan 28, 2020, 9:14 AM Makoto Inoue <notifications@github.com> wrote:

[2020-01-28 08:31] beebeehem commented on #237
Hello Team,
Kindly note that I've been working on editing this article as requested and I've successfully made most of the needed amendments, I however would like to request that you allow me some few hours to post this as I was looking at posting it by COB today which would be a few hours from the mail clocking 3 days.
Thank you.

[2020-01-28 10:21] makoto commented on #237
@beebeehem sure, I reopened the issue

[2020-01-28 12:20] beebeehem commented on #237
Thank you so much for reopening the issue.

The observed necessary amendments have been added as private notes.
Thank you for the consideration and the honor to do the editing and a big
congratulations to @molecula451 for a job well done.

Best regards,
Ahmed.

On Tue, Jan 28, 2020 at 4:21 AM Makoto Inoue <notifications@github.com>
wrote:

[2020-01-28 16:35] TomAFrench commented on #201
Am I right in thinking we need to ping @vs77bb to mark this as completed?

@NukeManDan, Having a standalone app for generating signed qrcodes of arbitrary data and a server for authentication of them which projects can easily drop in and integrate into existing infrastructure does strike me as useful as it avoids replication of effort. (Not sure how much of this exists in the right form today)

I

[2020-01-28 21:01] crisgarner commented on #201
Great news! I just read this.

@TomAFrench token distribution isn't really an issue. I have organized a few meetups and handled POAP tokens, POAP has some nice stickers with unique QR code per token which attendees scan to claim. 3 transactions for a check-in might be an issue. I'm sure it can be reduced to two and with meta-transactions UX can be improved. Using event logs is a good idea worth ex

[2020-01-30 10:23] andygray commented on #268
Agree with the issue.

Need to understand the difference between having a balance of DAI and not having approved DAI.

The UX need to explain that two transactions will happen - one for approval and one to move the DAI to kickback.

Having disabled buttons and red box leads to confusion and not knowing what to click and fear of doing so.

[2020-01-31 18:00] makoto commented on #268
Fixed at https://github.com/wearekickback/app/pull/277

[2020-01-31 18:00] #268 closed

[2020-01-31 18:57] makoto commented on #266
@TomAFrench then that would be idea 4, load the injected wallet. If that's the case, I would like to add to the required criteria that if it would work even if we started integrated with other wallet providers such as Torus, Authereum, and WalletConnect, as we are planning to integrate with BlockNative onboard.js

[2020-02-01 08:37] makoto commented on #201
I just pinged Gitcoin team for the payment.

[2020-02-01 08:39] makoto commented on #235
Thanks @andyboyan . Looks great!

[2020-02-01 08:41] makoto commented on #237
@beebeehem thank you for all the edit notes on Medium.

[2020-02-01 08:44] beebeehem commented on #237
My pleasure

[2020-02-01 11:50] beebeehem commented on #237
@makoto don't mind me asking, but may I know where we are with the rewards distribution?

[2020-02-01 19:16] MatWaller commented on #234
Happy to pick this up now or if dvdbng is unable to complete.

Thanks,
Mat

[2020-02-03 09:43] makoto commented on #266
@immense055 `We can setup a boot by public.they also Get some token.it's be easy way to make our gol` I don't quite understand what you mean by this. Can you join our [discord channel](https://discord.gg/VpR3n4w) and explain a bit more detail?

[2020-02-03 09:45] makoto commented on #234
@dvdbng @TomAFrench are you still working on this?

[2020-02-03 10:12] dvdbng commented on #234
@makoto I am, I set it up to login with onboard.js yesterday and tested a few wallets, today I plan on doing the changes to the profile

[2020-02-03 15:18] TomAFrench commented on #234
@makoto Yep, I have onboard.js working and have done some of the profile changes

[2020-02-03 16:01] dvdbng commented on #234
@TomAFrench @MatWaller @makoto On second thought, I'm going to give this one a pass, I'm having thought getting Authereum to work in onboard.js. If somebody wants a WIP to start from it's in my fork

[2020-02-08 21:13] #234 closed

[2020-02-11 15:10] makoto opened #298 "Post multi wallet support (aka onboard.js) issues"
- No "Metamask" on mobile window
- Red warning when not connected into ethereum node should say "Connect to wallet".

[2020-02-11 15:41] TomAFrench commented on #298
https://github.com/blocknative/onboard/pull/198

[2020-02-11 15:46] TomAFrench commented on #298
Related to this... It's probably worth mentioning the hosted wallets like Authereum as an option if people don't want to install an extension/app in the "getting started" guide

[2020-02-16 23:17] TomAFrench commented on #266
I've been thinking a little on how to handle this in a way which doesn't rely on a user having the same address on their desktop and mobile wallets, in particular how 3box could help with option 3.

[Multiple addresses can be linked to the same DID](https://docs.3box.io/api/identity#box-did). A user could attach their mobile/Authereum/whatever wallet to use on their phone to the same DID as their

[2020-02-16 23:24] TomAFrench commented on #266
To do this properly would probably require some deep munging about in the login system to make DIDs a first class citizen.

[2020-02-17 17:15] makoto commented on #201
just pinged again.

[2020-02-17 19:29] vs77bb commented on #201
Just paid out @NukeManDan @TomAFrench @crisgarner -- sorry for the delay all, thanks to each of you for participating in this challenge. Some really great progress in a short period. I'm personally really excited to see this in Kickback!

[2020-02-21 17:16] TomAFrench opened #320 "Use bnc-notify for tracking chain mutations."
Currently transaction progress is tracked through a homebrew method, it's probably worth replacing this with a [Notify](https://github.com/blocknative/notify) integration as it would allow easy handling of transaction speedups/cancellations

This would fix #243.

[2020-02-26 06:23] zoek1 commented on #266
the linked bounty is still open?

[2020-02-27 14:04] julien51 commented on #209
It looks like @makoto has decided to not pursue. I will close the issue and related bounty, but please do get in toch @edsonayllon as both @makoto and I want to make sure you get paid for this work.

[2020-02-27 14:04] #209 closed

[2020-02-27 17:12] edsonayllon commented on #209
Ok. My address is `edson.eth`. I will reach out on Telegram.

[2020-03-12 12:34] makoto commented on #298
@TomAFrench we will be wireframeing new onboarding flow based on various feedback we got. Will share once ready.

[2020-03-12 12:34] #298 closed

[2020-03-19 10:38] makoto commented on #266
I will close this for now. May reopen in future

[2020-03-19 10:38] #266 closed

[2020-03-19 10:56] #237 closed

[2020-03-19 10:56] #235 closed

[2020-03-19 10:57] makoto commented on #219
This is already fixed at Authereum end

[2020-03-19 10:57] #219 closed

[2020-03-19 10:57] #214 closed

[2020-03-19 10:59] makoto commented on #180
This seems no longer the issue

[2020-03-19 10:59] #180 closed

[2020-03-19 10:59] #201 closed

[2020-03-19 11:00] makoto commented on #203
We put the bounty to create a bounty instead https://medium.com/wearekickback/private-transactions-on-kickback-events-using-tornado-cash-1705a1d31167

[2020-03-19 11:00] #203 closed

[2020-03-19 11:00] #204 closed

[2020-03-19 11:00] #205 closed

[2020-03-19 11:02] #47 closed

[2020-03-19 11:03] #125 closed

[2020-03-19 11:03] #148 closed

[2020-03-19 11:03] makoto commented on #157
I think this was temporary error on server side

[2020-03-19 11:03] #157 closed

[2020-03-19 11:05] makoto commented on #161
@jefflau is this still the issue?

[2020-03-19 18:14] Man-Jain commented on #267
Hey @makoto I was working on this issue. I would like to clarify the bounty task. Are we aiming to create a SDK which websites can use to create/integrate a chat based systems into their existing frontends or will it be like a script that would just configure a chat system(like Discord Server, telegram group etc. ) via a bot for them based on the contract rules.

[2020-03-20 01:38] think-in-universe commented on #267
Will try to help with this issue as I have helped build the 3Box components previously.

[2020-03-20 01:40] Man-Jain commented on #267
Thanks

[2020-03-20 10:31] makoto commented on #267
@Man-Jain it's open-ended competition so either work.

[2020-03-20 10:56] makoto commented on #267
FYI, just updated the bounty section

[2020-03-20 11:25] Man-Jain commented on #267
Sorry Couldn't get the updates ...

[2020-03-20 11:58] makoto opened #325 "Improve onboarding flow for first time user to crypto"
##

## Current RSVP flow

<img width="832" alt="Screenshot 2020-03-20 at 11 48 15" src="https://user-images.githubusercontent.com/2630/77161083-b9a2fe80-6aa0-11ea-8d0d-8eb48e9a31d3.png">

- Step1: Error message prompting to connect Kickback to wallet.
- Step2: A modal pop up to pick a wallet.
- Step3: A modal to put user detail.
- Step4: Warning indicating that users don't have enough balance to R

[2020-03-20 17:48] ryanio commented on #325
Hey, new flow is looking great!

What did you think of our suggestion we came up together to aim for an email-only registration flow? In contrast to losing a large drop off through a general "Create account" flow. I could see it going something like this...

1. Click RSVP button
1. Ask user if they already have an Ethereum wallet
   1. If they do, sign a message (e.g. MetaMask popup) to fully log

[2020-03-20 18:34] makoto commented on #267
@Man-Jain I mean the bounty payout amount at the top of this page

[2020-03-20 18:34] makoto commented on #267
For any questions, you can join our discord dev channel as well. https://discord.gg/VpR3n4w

[2020-03-20 21:14] TomAFrench commented on #325
I wouldn't mind having a whack at this but it would be sometime in May.

[2020-03-24 12:13] TomAFrench commented on #325
As withdrawal ui elements will likely be changed to match this style, just adding a reminder to add a check to prevent people trying to withdraw from a cleared contract.

[2020-03-26 18:39] makoto commented on #325
Hi, @ryanio thank you for your feedback. Didn't have github notification so missed by now.

I did discuss email sign in similar to what multis.io does with @jefflau and we thought it would require some big change on backend and we currently lack backend resource.

If I understand correctly, are you searching eth address based on email address the user is given? I wonder if that allows malicious us

[2020-03-26 18:53] ryanio commented on #325
@makoto No problem, yes I totally understand constraints around backend architecture/refactoring, was just my ideal UX suggestion from the perspective of a new user.

No, eth address first (authenticated by signing a message) then see if an email is associated to the eth address. If no email record exists for the eth address, ask for one to associate.

[2020-04-06 20:57] cryptoabhi commented on #267
Starting off with an interface based chat approach https://github.com/cryptoabhi/KickBackChat

Looking to dig more into the kickback interface & integration

[2020-04-09 11:27] makoto commented on #267
@zoek1 @cryptoabhi did you guys finish the work? @zoek1's submission seems just a fork of our `app` repo with no additional commit.

[2020-04-27 05:39] kmn opened #342 "Fail to sign up; unable to create a new account."
When I first signed up kickback.event, I failed to make a new account.
Here is the screenshot.
<img width="794" alt="スクリーンショット 2020-04-27 13 30 33" src="https://user-images.githubusercontent.com/973161/80337380-47d28780-888c-11ea-9ff1-c39fc9a4706c.png">

[2020-04-29 04:11] kmn commented on #342
Solved, but the solution is unclear.

This happened when I switched metamask account : I have 2 metamask account, but after switching the account, this error continued ( cached ?)

close

[2020-04-29 04:11] #342 closed

[2020-04-29 04:12] kmn commented on #342
Two or three days later, I succesfully signed up.

[2020-04-30 14:24] makoto commented on #267
Hey, sorry for taking ages to announce the winners.

1. Winner (5 ETH) @think-in-universe

Integration through is [Smart chat react component](https://github.com/open-tribe/smart-chat-react).

I have extended [his contribution PR](https://github.com/wearekickback/app/pull/335) and deployed [with the following PR](https://github.com/wearekickback/app/pull/340)

2. Runner up (1 ETH) @zoek1

- [Livin

[2020-04-30 14:24] #267 closed

[2020-05-09 02:44] jefflau opened #360 "Filter out multiple submissions of same url"
If the url is the same, filter out the previous and just use the latest. E.g they want to change count.

[2020-05-09 02:45] jefflau opened #361 "Remove index number"
Seems irrelevant to UX and can see more submissions.

[2020-05-09 02:47] jefflau opened #362 "Instructions should mention the chatbox icon"
![4965A3C3-0EBE-4BB7-8E36-E08DFC0F0AA2](https://user-images.githubusercontent.com/1221141/81462027-4edd8c00-91e2-11ea-8349-f0df8178b65d.png)

Should mention here the chatbox as it takes time to load. Or better yet we can show the chatbox and then they can click and inside it starts to load instead. This way the user will be less confused

[2020-05-09 02:47] jefflau opened #363 "Rename s: g: into real words"
Currently unreadable to non-users

[2020-05-09 02:48] jefflau opened #364 "Make challenge room public"
Probably more interesting if people can at least view some progress and see how many people are contributing so they can get FOMO. What do you think @makoto?

[2020-05-09 05:16] jefflau opened #365 "Show loader for summary table in challenge room"
Currently just shows 0, but should indicate to user that it is at least loading

[2020-05-09 17:48] jefflau opened #366 "Auto refetch summary table when submitting"
At the very least it should update when you submit or set a goal so you dont have to click 'check posts'

[2020-05-20 15:26] makoto commented on #361
Is that on admin page? It actually becomes useful when we get reorg so that you can see where the number gets skipped

[2020-12-24 08:58] xitronix opened #398 "Unilogin is closing"
Hey. Unilogin [is closing](https://medium.com/universal-ethereum/out-of-gas-were-shutting-down-unilogin-3b544838df1a). It will be not available from the 1st of January 2021.

[2021-07-01 17:27] makoto opened #413 "Add a button to switch network"

[2021-07-10 16:01] ytsoos opened #417 "Assistant (For Windows)"
This i my assistant Name: Nano.
Android, iOS, Mac, Linux. Coming Soon

[2021-09-02 07:44] makoto commented on #413
New onboard.js now handle it automatically

[2021-09-02 07:44] #413 closed, assigned to nobody

[2021-09-02 07:45] makoto commented on #398
Unilogin is removed

[2021-09-02 07:45] #398 closed, assigned to nobody

[2021-09-02 07:45] makoto commented on #364
challenge room is removed

[2021-09-02 07:45] #364 closed

[2021-09-02 07:47] #417 closed, assigned to nobody

[2021-09-02 07:48] #363 closed

[2021-09-02 07:48] #362 closed

[2021-09-02 07:52] makoto opened #429 "List/tag to bundle related events"
Allow a user (or group of user) to have a list of events.

<img width="1269" alt="Screenshot 2021-09-02 at 08 49 48" src="https://user-images.githubusercontent.com/2630/131804282-72868c18-d734-4834-a4ac-d9b164dac33c.png">

The use-cases are

- "blockchain week"
- One event with multiple tickets tier

## Open questions

- Should the list be onchain (aka smart contract) or just backend db? probably

[2021-09-02 08:03] makoto opened #430 "Invitation POAP badge"
Currently, we only have a public/private page setting to show in `/events` page. This works most of the time but users can easily find the private pages by registrants profiles and also it is nice if we can show invite-only pages still in public.

## User flow.

- Admin generates invite codes
- Admin give the code to participants (eg: kickback.events/event/0x123/?invite_code=INVITE_CODE)
- If a us

[2021-09-02 08:15] makoto opened #431 "Allow users with no crypto to RSVP events"
## Problem

Event organisers fear that demanding people to stake is a high barrier to entry. To work it around, some event organiser use both Kickback and eventbrite/meetup.com

## Possible Solutions

### "Interested" feature

This is a complete off-chain feature where users can mark their interest to attend.

Facebook "Interested"
<img width="237" alt="Screenshot 2021-09-02 at 09 11 35" src="http

[2021-09-02 08:21] makoto opened #432 "Allow DAO to become an event organiser"
## Problem

Currently, the event organiser is the one centralised entity to decide who to check-in/out so there is a rug-pull risk. Also, there is a risk of losing funds if organisers don't add extra admin and the person loses the private key of his/her address.

For these reasons, Kickback is not suitable for staking too high an amount.

## Solutions.

- Allow Gnosis Safe or MolochDAO to take ove

[2021-09-02 08:30] makoto opened #433 "POAP auto check-in bot"
Currently, we have a feature where the admin can check in attendees if the attendee has specific POAP badge.

<img width="1468" alt="Screenshot 2021-09-02 at 09 28 23" src="https://user-images.githubusercontent.com/2630/131810026-92fc096e-2f86-45e4-adf2-0b24a124813a.png">

This is manual process and organiser may forget.
Add some sort of bot feature so that adding certain bot account as admin will

[2021-09-08 18:08] makoto opened #436 "Fix problem of withdraw page blowing up when the donation recipient is not set"

[2021-09-19 10:34] makoto opened #439 "Waitlist"
Event organisers are reluctant to make their events public when space is very limited.
The current workaround is to make the page private and ask people not to share which is not perfect.
Also as Kickback, we would like to show all event pages visible to the public.

<img width="1639" alt="Screenshot 2021-09-18 at 23 28 48" src="https://user-images.githubusercontent.com/2630/133923951-eea9083e-5d9

[2021-09-23 18:45] makoto opened #442 "Add warning if subgraph has some latency"
From time to time, thegraph indexing is not up to date.

1. Get the latest block number from the graph https://thegraph.com/legacy-explorer/subgraph/wearekickback/kickbackpolygon

[code]

2. Check the block timestamp (maybe from polygonscan)
3. If the last block number is older than 1 min, show warning  as a top banner that the data is x min out of date

[2021-09-26 17:31] makoto commented on #442
Done

[2021-10-04 08:55] #442 closed, assigned to nobody